* {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  /*background-image: url(..//SiteSeno/Backgroud.png);*/
  background: #f3f2f2;
}

label {
  display: block;
  padding: 10px;
}

form {
  text-align: center;
  padding: 5px;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

input {
  font-size: 1.2rem;
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #ccc;
  text-align: center;
}

button {
  padding: 5px;
  display: block;
  text-align: center;
  font-size: 1.25rem;
  margin-top: 25px;
  background-color: #ccc;
  border-radius: 4px;
  cursor: pointer; /*Coloca o formato de dedo no cursor*/
}

#botao {
  border-color: rgb(
    40,
    238,
    238
  ); /*A borda vai assumir a cor devido a prioridade do seletor: id é 1 o primeiro da lista, classe é o segundo e a tag a terceira*/
}
